<div>
    <form name="commandForm">
        <label>Komenda</label>
        <input ng-model="script" name="script" type="text" id="inputScript" required="" autofocus=""/>
        <button ng-click="cmd()" name="commandScript">Wykonaj</button>
    </form>
    <button ng-click="cmdHistory()" name="commandHistory">Historia komend</button>
    <table class="table table-bordered table-hover table-striped">
        <tr> Wynik polecenia</tr>
        <tr ng-repeat="a in cmdBody">
            <td>{{a.script}}</td>
        </tr>
    </table>
    <table class="table table-bordered table-hover table-striped">
        <tr> Historia komend</tr>
        <tr ng-repeat="a in cmdHist">
            <td>{{a.command}}</td>
            <td>{{a.date}}</td>
        </tr>
    </table>
</div>