<!doctype html>
<html ng-app="weatherStation">
<head>

    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-resource.js"></script>
    <script src="/static/lib/angular/angular-cookies.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>

    <script src="/static/lib/jquery/modernizr.js"></script>
    <script src="/static/lib/jquery/jquery-2.1.4.js"></script>
    <script src="/static/lib/jquery/main.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<h1>cosiek</h1>
<a href="/">Strona główna</a>
<a href="/current">Bieżące dane</a>
<a href="/stats">Statystyki</a>
<a href="/history">Historia</a>
<span ng-hide="isLoggedin">
    <a href="/login">Logowanie</a>
</span>
<a href="/about">O projekcie</a>
<span ng-show="isLoggedin">
    <a href="/console">Konsola systemowa</a>
    <a href="/logout">Wyloguj</a>
</span>


<div ng-view></div>
</body>
</html>